In [1]:
mm = [1,2,3,4,5]

for i in mm:
    print(i)

1
2
3
4
5

In [4]:
n = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20]

for i in n:
    if i % 2 == 0:
        print(i)

2
4
6
8
10
12
14
16
18
20

In [9]:
for i in n:
    if i % 2 == 0:
        print(f'Even number:{i}')
    else :
        print(f'Odd number :{i}')
print('All got checked')

Odd number :1
Even number:2
Odd number :3
Even number:4
Odd number :5
Even number:6
Odd number :7
Even number:8
Odd number :9
Even number:10
Odd number :11
Even number:12
Odd number :13
Even number:14
Odd number :15
Even number:16
Odd number :17
Even number:18
Odd number :19
Even number:20
All got checked

In [7]:
StartingCount = 0

for i in n:
    StartingCount = StartingCount+i
    print(StartingCount)
print(StartingCount)

1
3
6
10
15
21
28
36
45
55
66
78
91
105
120
136
153
171
190
210
210

In [11]:
t = (1,2,3)

for item in t:# iteam each element
    print(item)

1
2
3

In [13]:
listdouble = [(1,2),(3,4),(5,6)]

for a,b in listdouble:
    print(f'first item {a} and second item {b}')

first item 1 and second item 2
first item 3 and second item 4
first item 5 and second item 6

In [1]:
ls2 =[(1,2,3),(4,5,6),(7,8,9),(10,11,12)]

for a,b,c in ls2:
    print(f'First item {a} Second item {b} Third item {c}')

First item 1 Second item 2 Third item 3
First item 4 Second item 5 Third item 6
First item 7 Second item 8 Third item 9
First item 10 Second item 11 Third item 12

In [16]:
dict = {'k1':1,'k2':2,'k3':3}

for item in dict.items():
    print(item)

('k1', 1)
('k2', 2)
('k3', 3)

In [17]:
dict = {'k1':1,'k2':2,'k3':3}

for key,value in dict.items():
    print(key,value)

k1 1
k2 2
k3 3

In [3]:
# While loop
x = 0

while x < 5:
    print(f'print x is {x}')
    # x = x+1
    x+=1
else:
    print(f'X is greater then condition')

print x is 0
print x is 1
print x is 2
print x is 3
print x is 4
X is greater then condition

In [ ]:
# Break , Continue , pass

In [4]:
# pass

x = [1,2,3,4,5]

for i in x:
    #comment nothing in below code
    pass
print('end of the code')

end of the code

In [6]:
name = 'manjunath'

for letter in name:
    if letter =='u':
        continue
    print(letter)
    # above code will skip the letter 'u' and it continues

m
a
n
j
n
a
t
h

In [7]:
name = 'raju'

for l in name:
    if l == 'j':
        break
    print(f'letter is {l}')

letter is r
letter is a

In [8]:
# Operators 

for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [12]:
for i in range(0,11,2):

    print(i)

0
2
4
6
8
10

In [11]:
# Generator

list(range(0,11,2))

[0, 2, 4, 6, 8, 10]

In [13]:
index_count = 0

word ='manju'

for letter in word:
    print(word[index_count])

    index_count+=1

m
a
n
j
u

In [14]:
# Above thing can be performed using enumerator

w = 'man'

for i in enumerate(w):
    print(i)

(0, 'm')
(1, 'a')
(2, 'n')

In [16]:
for index,letter in enumerate(w):
    print('index is {} and letter is {}'.format(index,letter))

index is 0 and letter is m
index is 1 and letter is a
index is 2 and letter is n

In [17]:
# Zip function

num = [1,2,3,4,5]
letter = ['a','b','c','d','e']

for i in zip(num,letter):
    print(i)

(1, 'a')
(2, 'b')
(3, 'c')
(4, 'd')
(5, 'e')

In [1]:
# List comprehension

Stringname = 'manjunath'

mylist = []

for i in Stringname:
    mylist.append(i)
print(mylist)

['m', 'a', 'n', 'j', 'u', 'n', 'a', 't', 'h']

In [4]:
# above can be done using list comprehension 

mylist = [i for i in Stringname]
mylist
# print(mylist)

['m', 'a', 'n', 'j', 'u', 'n', 'a', 't', 'h']

In [5]:
# another method 
mylist = [i for i in 'prasad']

mylist

['p', 'r', 'a', 's', 'a', 'd']

In [6]:
# Performing some action on that 


mylist = [num for num in range(1,10,2)]
mylist

[1, 3, 5, 7, 9]

In [8]:
# Squaring the number

mylist = [num**2 for num in range(0,10,2)]

mylist

[0, 4, 16, 36, 64]

In [10]:
# adding if condition 

mylist = [num for num in range(0,10,2) if num%2==0]

mylist

[0, 2, 4, 6, 8]

In [11]:
# some problem solving

Amount_USD = [1,20,30,40]

Amount_INR = [(amount* 70) for amount in Amount_USD ]

Amount_INR

[70, 1400, 2100, 2800]

In [12]:
# Amount_INR using for looping traditional method

Amount_USD = [1,20,30,40]
Amount_INR = []

for amount in Amount_USD:
    Amount_INR.append(amount*70)

Amount_INR

[70, 1400, 2100, 2800]

In [15]:
SAPR = [re if re%2==0 else 'NA' for re in range(0,10)]

SAPR

[0, 'NA', 2, 'NA', 4, 'NA', 6, 'NA', 8, 'NA']

In [16]:
# Below way performing will not work if we have 'else condition

SAPR = [re for re in range(0,10) if re%2 == 0 else 'NA']

SAPR

SyntaxError: invalid syntax (<ipython-input-16-4e61b4d5f668>, line 1)

In [17]:
# Nested loops 

mylist = []

for x in range(1,3):
    for y in [1,10,100]:
        mylist.append(x*y)
mylist

[1, 10, 100, 2, 20, 200]

In [18]:
# List comprehension passion

mylist = [x*y for x in range(1,3) for y in [1,10,1000]]

mylist

[1, 10, 1000, 2, 20, 2000]

In [8]:
# Print only the letter 't' from the below sentence 

pp = 'See installed Large and available Language Packs in their language'

nn = [i for i in pp if i.lower()=='t']

nn

['t', 't']

In [1]:
# Print the even numbers between 0 to 10

pE10 = [i for i in range(0,10,2)]
pE10

[0, 2, 4, 6, 8]

In [3]:
# Print the number between 1 to 50 divisible by 3

ListComp1_50_3 = [Div3 for Div3 in range(0,50) if Div3 % 3 == 0]

ListComp1_50_3

[0, 3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48]

In [6]:
# Print all the even number between 1 to 10 

for i in range(0,10):
    if i % 2 ==0:
        print(i)
    else :
        print(f'Not Even {i}')

0
Not Even 1
2
Not Even 3
4
Not Even 5
6
Not Even 7
8
Not Even 9

In [12]:
# Print the value between 1 to 100 , print 'Fizz' for number divisible by 3 and 'Buzz' for number divisible by 5 
# and if the number is divisbile by bot then 'FizzBuzz'

for i in range(1,100):
    if (i % 3 ==0 and i % 5 ==0):
        print(f'{i} Number is BuzzFizz')
    elif i % 3 ==0:
        print(f'{i} Number is Fizz')
    elif i % 5 ==0:
        print(f'{i} Number is Buzz')

3 Number is Fizz
5 Number is Buzz
6 Number is Fizz
9 Number is Fizz
10 Number is Buzz
12 Number is Fizz
15 Number is BuzzFizz
18 Number is Fizz
20 Number is Buzz
21 Number is Fizz
24 Number is Fizz
25 Number is Buzz
27 Number is Fizz
30 Number is BuzzFizz
33 Number is Fizz
35 Number is Buzz
36 Number is Fizz
39 Number is Fizz
40 Number is Buzz
42 Number is Fizz
45 Number is BuzzFizz
48 Number is Fizz
50 Number is Buzz
51 Number is Fizz
54 Number is Fizz
55 Number is Buzz
57 Number is Fizz
60 Number is BuzzFizz
63 Number is Fizz
65 Number is Buzz
66 Number is Fizz
69 Number is Fizz
70 Number is Buzz
72 Number is Fizz
75 Number is BuzzFizz
78 Number is Fizz
80 Number is Buzz
81 Number is Fizz
84 Number is Fizz
85 Number is Buzz
87 Number is Fizz
90 Number is BuzzFizz
93 Number is Fizz
95 Number is Buzz
96 Number is Fizz
99 Number is Fizz

In [15]:
# Use the below sentence to print the first letter of the word 

sentence = ('Use the below sentence to print the first letter of the word ')

SFirstLetter = [l[0] for l in sentence.split()  ]

SFirstLetter

['U', 't', 'b', 's', 't', 'p', 't', 'f', 'l', 'o', 't', 'w']

In [2]:
# Taking input string and converting alternative string into upper and lower case 
# string based on odd and even placement/position of string

def StringEvenOdd(st):
    emList = list()  
    for i in range(0,len(st)):
        if i % 2 ==0:
          e= st[i]
          e = e.upper()
          emList.append(e)
        else:
          l = st[i]
          l = l.lower()
          emList.append(l)
    return emList

In [4]:
StringEvenOdd('RaghavenDra')

['R', 'a', 'G', 'h', 'A', 'v', 'E', 'n', 'D', 'r', 'A']