In [1]:
a = 5

In [2]:
print(a)

5

In [3]:
a+a

10

In [4]:
type(a)

int

In [5]:
a=30.1

In [6]:
type(a)

float

In [7]:
income = 100

tax = 0.1

mytax = income * tax

In [8]:
mytax

10.0

In [ ]:
# String

In [9]:
# We can have single quote or double quote 

'HEllO'

'HEllO'

In [10]:
"Hello"

'Hello'

In [11]:
"this is also string"

'this is also string'

In [12]:
# having quote with in the quote

" I'am good"

" I'am good"

In [13]:
print("hello 1")

print('hello 2')

hello 1
hello 2

In [14]:
print('hello \n world')

hello
 world

In [15]:
print('hello \t world')

hello 	 world

In [16]:
# length of the string 

len('hello')

5

In [17]:
len('i am new')

8

# String Indexing and slicing

In [19]:
mystring = 'Hello World'

print(mystring)

Hello World

In [20]:
mystring[1]

'e'

In [21]:
# getting the last letter 
mystring[-1]

'd'

In [25]:
mystring = 'abcdedfgh'

mystring[2:]

'cdedfgh'

In [26]:
mystring[:5]

'abcde'

In [27]:
mystring[3:5]

'de'

In [29]:
mystring[::2]

'acefh'

# Immutable

In [30]:
letter = 'Man'

print(letter)

Man

In [31]:
letter[0] = 'S'

TypeError: 'str' object does not support item assignment

In [32]:
Sub_letter = letter[1:]

print(Sub_letter)

an

In [33]:
'S'+Sub_letter

'San'

In [36]:
x ='Hello it is'

x + ' Sunny'

'Hello it is Sunny'

In [39]:
x = x + ' Sunny'

x

'Hello it is Sunny Sunny'

In [40]:
x + x

'Hello it is Sunny SunnyHello it is Sunny Sunny'

In [45]:
y = 'Jai Sri Ram '

y *10

'Jai Sri Ram Jai Sri Ram Jai Sri Ram Jai Sri Ram Jai Sri Ram Jai Sri Ram Jai Sri Ram Jai Sri Ram Jai Sri Ram Jai Sri Ram '

In [46]:
x = 'Hello'

In [48]:
# after assigned string name kindly click tab
x.upper()

'HELLO'

In [2]:
x1 = 'Hello world'

x1.split()

['Hello', 'world']

In [4]:
# splitting based on the certain letter

x1.split('o')

['Hell', ' w', 'rld']

# Printing format with in string

# Formatting with the .format() method

In [5]:
print('This is a string {}'.format('Inserted'))

This is a string Inserted

In [9]:
print('this {} {} {}'.format('fox','brown','white'))

this fox brown white

In [10]:
print('this {2} {1} {0}'.format('fox','brown','white'))

this white brown fox

In [ ]:
# Floating formatting method "{value.width.precision f }"

# width is the distance

In [18]:
result = 100/777
result

0.1287001287001287

In [17]:
print('the result is {r:5.2f}'.format(r=result))

the result is  0.14

In [21]:
# F string literals 

amount = 120

print(f"Please enter amount {amount}")

name = 'Manju'
Sex = 'Male'

print(f'{name} is of {Sex} sex')

Please enter amount 120
Manju is of Male sex

# List in python with in square bracket

In [23]:
list = [1,2,3,4]
list

[1, 2, 3, 4]

In [24]:
list = ['a',1,2.3]
list

['a', 1, 2.3]

In [25]:
len(list)

3

In [26]:
# Indexing 

list[0]

'a'

In [28]:
list[0:2]

['a', 1]

In [29]:
list2 = [4,5,6]

In [30]:
list+list2

['a', 1, 2.3, 4, 5, 6]

In [31]:
#  List can be concatinated  

FinalList = list+list2

FinalList

['a', 1, 2.3, 4, 5, 6]

In [32]:
# list is mutable

FinalList[0]= 0

FinalList

[0, 1, 2.3, 4, 5, 6]

In [34]:
# Appending the list

FinalList.append(7)

FinalList

[0, 1, 2.3, 4, 5, 6, 7, 7]

In [36]:
FinalList.pop()

7

In [35]:
# Removing the element or value from the list

FinalList.pop(7)

FinalList

[0, 1, 2.3, 4, 5, 6, 7]

In [37]:
FinalList.pop(2)

2.3

In [40]:
# sorting on list

list3 = ['a','d','e','c','f','b']

listnum = [4,3,7,1,2,5,6]

In [39]:


list3.sort()

list3

['a', 'b', 'c', 'd', 'e', 'f']

In [41]:
listnum.sort()

listnum

[1, 2, 3, 4, 5, 6, 7]

In [44]:
# Descending order can also be achieved by using reverse

listnum.reverse()

In [45]:
listnum

[7, 6, 5, 4, 3, 2, 1]

# Dictionaries
# Dictionaries are unordered mapping for storing objects. Dictionary use the key values pair for storing the object
# Use curley braces { 'Key1' : 'Value1' ,  'Key2' : 'Value2' }

In [ ]:
# Dictonary : Retrieves the object by key name ( unorder and cannot be sorted )

# Lists: Objects retrieved by location. Order sequence can be sequenced

In [2]:
My_dict = {'key1':'Value1','Key2':'Value2'}

My_dict

{'key1': 'Value1', 'Key2': 'Value2'}

In [4]:
My_dict['key1']

'Value1'

In [5]:
Fruits_price = {'Apple':'Rs 180','Grapes':'Rs 80','Oranges':'Rs 90'}

In [6]:
Fruits_price['Oranges']

'Rs 90'

In [15]:
# We can have have a list or dictionary with in dictionary 

dict2 = {'Key1':'value1','key2':[0,1,2],'key3':{'i':100,'i1':200,'i3':450}}

In [8]:
dict2['key2']

[0, 1, 2]

In [9]:
dict2['key2'][2]

2

In [12]:
dict2['key3']['i3']

450

In [16]:
# We can mutate the value or change the value in dictionary

dict2['Key1']='value0'

dict2

{'Key1': 'value0', 'key2': [0, 1, 2], 'key3': {'i': 100, 'i1': 200, 'i3': 450}}

# Tuples 

#  Tuples are similar to that of list , key difference is it is immutable 

#  it is use parenthesis (1,2,3)

In [17]:
tuples1 = (1,2,3)

In [18]:
type(tuples1)

tuple

In [19]:
tuples1[1]

2

In [22]:
tuple2 = ('a','a','a','b')
tuple2.count('a')

3

In [24]:
tuple2.index('b')

3

In [27]:
# List can be easily changed the value

list4 = [1,2,3]

In [29]:
list4[0]= 33

list4

[33, 2, 3]

In [30]:
tuple2[0] = 'c'

TypeError: 'tuple' object does not support item assignment

# Sets

# Sets : Are unorder collection of unique elements

In [31]:
My_sets = set()

In [33]:
My_sets.add(1)

My_sets

{1}

In [34]:
My_sets.add(2)

My_sets

{1, 2}

In [35]:
My_sets.add(2)

# it will add only the unique value 
My_sets

{1, 2}

In [36]:
list_forsets = [1,1,1,1,1,3,3,3,3,5,5,5,5,6]

In [37]:
set2 = set()

In [39]:
set(list_forsets)

{1, 3, 5, 6}

In [40]:
# Booleans

1==1

True

In [41]:
1>2

False

In [61]:
%%writefile sampletextdata.txt

hello this is a text File 
this is secondline
this is thirdline

Overwriting sampletextdata.txt

In [43]:
# To check the current working directory
pwd

'm:\\Python\\PythonBootCamp'

In [44]:
sampletextdata = open('sampletextdata.txt')

In [45]:
sampletextdata.read()

'\nhello this is a text File \nthis is secondline\nthis is thirdline\n'

In [50]:
sampletextdata.seek(0)

0

In [51]:
a = sampletextdata.read()
a

'\nhello this is a text File \nthis is secondline\nthis is thirdline\n'

In [53]:
sampletextdata.seek(0)
sampletextdata.readlines()

['\n',
 'hello this is a text File \n',
 'this is secondline\n',
 'this is thirdline\n']

In [54]:
sampletextdata.close()

In [55]:
with open('sampletextdata.txt') as new_file:
    content = new_file.read()

In [56]:
content

'\nhello this is a text File \nthis is secondline\nthis is thirdline\n'

In [57]:
with open('sampletextdata.txt',mode='r') as file1:
    c = file1.read()

In [58]:
c

'\nhello this is a text File \nthis is secondline\nthis is thirdline\n'

In [65]:

%%writefile sampletextdata2.txt

# %%writefile newfile2.txt
one
two
three
four

Overwriting sampletextdata2.txt

In [68]:
with open('sampletextdata2.txt',mode='r') as f:
    print(f.read())

# %%writefile newfile2.txt
one
two
three
four

In [69]:
# append the file 

with open('sampletextdata2.txt',mode='a') as f:
    f.write('five')

In [70]:
with open('sampletextdata2.txt',mode='r') as f:
    print(f.read())

# %%writefile newfile2.txt
one
two
three
four
five

In [72]:
with open('sampletextdata3.txt',mode='w') as f:
    f.write('New file')

In [73]:
with open('sampletextdata3.txt',mode='r') as f:
    print(f.read())

New file